In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import re
import pandas as pd
import openai
import os
import json
from gpt3_sandbox.api.gpt import GPT
from gpt3_sandbox.api.gpt import Example
from pandasql import sqldf
from tqdm import tqdm
import numpy as np
from GptPrompter import *
from AutoReasoner import *

import dotenv
import traceback

config = dotenv.dotenv_values(".env")
openai.api_key = config['OPENAI_API_KEY']
openai.api_key = API_key
dataset = pd.read_csv('./dataset/multimodalqa/MMQA_dev.csv', sep=',')
# dataset = pd.read_csv('./dataset/Table-Fact-Checking/train_sample.csv', sep=',')
# dataset = pd.read_csv('./dataset/WikiTableQuestions/data/training.tsv', sep='\t')

In [18]:
i = 1

print("utterance = ", dataset.iloc[i]["utterance"])
print("answer = ", dataset.iloc[i]["targetValue"])
df = pd.read_csv(f'./dataset/multimodalqa/csv/{dataset.iloc[i]["context"]}', sep=',')
# df = pd.read_csv(f'./dataset/WikiTableQuestions/csv/204-csv/882.csv', sep=',')
print("|".join(df.columns))
print(table_formater(df, line_limit=100))

# import pandasql as ps
# ps.sqldf('SELECT * FROM df WHERE opponent="port vale";')

# df['withdrawn_year'] = df.apply(lambda x: x['Withdrawn'].split('-')[-1], axis=1)

# def get_placing_number(s):
#     try:
#         import re
#         return int(re.search("(\d+)", s).group(1))
#     except:
#         return s
# df['placing_number'] = df.apply(lambda x: get_placing_number(x['Placing']), axis=1)


# import pandasql as ps
# df = ps.sqldf("SELECT * FROM df WHERE port=\"Auckland\";")
# print(table_formater(df, line_limit=10))
df

utterance =  When was the movie that had Ben Piazza in the role of Bob Whitewood released?
answer =  1976
Year|Title|Role|Notes
[HEAD]: year|title|role|notes
---
[ROW] 1: 1957|A Dangerous Age|David|nan
[ROW] 2: 1959|The Hanging Tree|Rune|nan
[ROW] 3: 1962|No Exit|Camarero|nan
[ROW] 4: 1970|Tell Me That You Love Me, Junie Moon|Jesse|nan
[ROW] 5: 1972|The Outside Man|Desk Clerk|nan
[ROW] 6: 1973|The Candy Snatchers|Avery|nan
[ROW] 7: 1976|The Bad News Bears|Bob Whitewood|nan
[ROW] 8: 1977|I Never Promised You a Rose Garden|Jay Blake|nan
[ROW] 9: 1979|Nightwing|Roger Piggott|nan
[ROW] 10: 1979|The Concorde ... Airport '79|Associate|TV version, Uncredited
[ROW] 11: 1980|The Blues Brothers|Father|nan
[ROW] 12: 1982|Waltz Across Texas|Bill Wrather|nan
[ROW] 13: 1985|Mask|Mr. Simms|nan
[ROW] 14: 1988|Clean and Sober|Kramer|nan
[ROW] 15: 1990|Rocky V|Doctor|Uncredited
[ROW] 16: 1991|Guilty by Suspicion|Darryl Zanuck|nan

,Year,Title,Role,Notes
0,1957,A Dangerous Age,David,NaN
1,1959,The Hanging Tree,Rune,NaN
2,1962,No Exit,Camarero,NaN
3,1970,"Tell Me That You Love Me, Junie Moon",Jesse,NaN
4,1972,The Outside Man,Desk Clerk,NaN
5,1973,The Candy Snatchers,Avery,NaN
6,1976,The Bad News Bears,Bob Whitewood,NaN
7,1977,I Never Promised You a Rose Garden,Jay Blake,NaN
8,1979,Nightwing,Roger Piggott,NaN
9,1979,The Concorde ... Airport '79,Associate,"TV version, Uncredited"
10,1980,The Blues Brothers,Father,NaN
11,1982,Waltz Across Texas,Bill Wrather,NaN
12,1985,Mask,Mr. Simms,NaN
13,1988,Clean and Sober,Kramer,NaN
14,1990,Rocky V,Doctor,Uncredited
15,1991,Guilty by Suspicion,Darryl Zanuck,NaN

In [24]:
code = \
"""
def get_year(s):
    import re
    return int(re.search("^(\d+)", s).group(1))
df['Year'] = df.apply(lambda x: get_year(x['Year']), axis=1)
"""
codes = code.split('\n')
safe_codes = []
add_indent = False
for line in codes:
    if 'def' in line:
        safe_codes.append(line)
        safe_codes.append('    try:')
        add_indent = True
    elif 'return' in line:
        safe_codes.append('    ' + line)
        safe_codes.append('    except:')
        safe_codes.append('        return s')
        add_indent=False
    elif add_indent:
        safe_codes.append('    ' + line)
    else:
        safe_codes.append(line)
safe_code = '\n'.join(safe_codes)
print(safe_code)

def get_year(s):
    try:
        import re
        return int(re.search("^(\d+)", s).group(1))
    except:
        return s
df['Year'] = df.apply(lambda x: get_year(x['Year']), axis=1)

In [14]:
prompt = """
The database table DF is shown as follows:
[HEAD]: Year|Division|League|Regular Season|Playoffs|Open Cup|Avg. Attendance
---
[ROW] 1: 2001|2|USL A-League|4th, Western|Quarterfinals|Did not qualify|7,169
[ROW] 2: 2002|2|USL A-League|2nd, Pacific|1st Round|Did not qualify|6,260
[ROW] 3: 2003|2|USL A-League|3rd, Pacific|Did not qualify|Did not qualify|5,871
[ROW] 4: 2004|2|USL A-League|1st, Western|Quarterfinals|4th Round|5,628
[ROW] 5: 2005|2|USL First Division|5th|Quarterfinals|4th Round|6,028
[ROW] 6: 2006|2|USL First Division|11th|Did not qualify|3rd Round|5,575
[ROW] 7: 2007|2|USL First Division|2nd|Semifinals|2nd Round|6,851
[ROW] 8: 2008|2|USL First Division|11th|Did not qualify|1st Round|8,567
[ROW] 9: 2009|2|USL First Division|1st|Semifinals|3rd Round|9,734
[ROW] 10: 2010|2|USSF D-2 Pro League|3rd, USL (3rd)|Quarterfinals|3rd Round|10,727

Answer the following question based on the data above: "what was the last year where this team was a part of the usl a-league?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.

SQL: ```SELECT * FROM DF WHERE Division = "USL A-League";```.

The database table DF is shown as follows:
[HEAD]: Year|Division|League|Regular Season|Playoffs|Open Cup|Avg. Attendance
---
[ROW] 1: 2001|2|USL A-League|4th, Western|Quarterfinals|Did not qualify|7,169
[ROW] 2: 2002|2|USL A-League|2nd, Pacific|1st Round|Did not qualify|6,260
[ROW] 3: 2003|2|USL A-League|3rd, Pacific|Did not qualify|Did not qualify|5,871
[ROW] 4: 2004|2|USL A-League|1st, Western|Quarterfinals|4th Round|5,628

Answer the following question based on the data above: "what was the last year where this team was a part of the usl a-league?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.

SQL: ```SELECT Year FROM DF ORDER BY Year DESC LIMIT 1;```.

The database table DF is shown as follows:
[HEAD]: Year
---
[ROW] 1: 2004

Answer the following question based on the data above: "what was the last year where this team was a part of the usl a-league?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.

Answer: ```2004```.

The database table DF is shown as follows:
[HEAD]: number|builder|entered_service|withdrawn
---
[ROW] 1: 439|NZR Addington|9-1-1909|2-3-1957
[ROW] 2: 443|NZR Addington|1-12-1909|2-3-1957
[ROW] 3: 444|NZR Addington|3-2-1910|2-3-1957
[ROW] 4: 446|NZR Addington|30-4-1910|6-12-1946
[ROW] 5: 588|NZR Addington|14-10-1913|2-3-1957
[ROW] 6: 589|NZR Addington|11-11-1949|6-1949

Answer the following question based on the data above: "how many number were in service in 1910?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.

Python: ```
def get_date_year(s):
    from dateutil import parser
    return parser.parse(s).year
DF['entered_service_year'] = DF.apply(lambda x: get_date_year(x['entered_service']), axis=1)```.

The database table DF is shown as follows:
[HEAD]: number|builder|entered_service|withdrawn|entered_service_year
---
[ROW] 1: 439|NZR Addington|9-1-1909|2-3-1957|1909
[ROW] 2: 443|NZR Addington|1-12-1909|2-3-1957|1909
[ROW] 3: 444|NZR Addington|3-2-1910|2-3-1957|1910
[ROW] 4: 446|NZR Addington|30-4-1910|6-12-1946|1910
[ROW] 5: 588|NZR Addington|14-10-1913|2-3-1957|1913
[ROW] 6: 589|NZR Addington|11-11-1949|6-1949|1949

Answer the following question based on the data above: "how many number were in service in 1910?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.

Python: ```
def get_date_year(s):
    from dateutil import parser
    return parser.parse(s).year
DF['withdrawn_year'] = DF.apply(lambda x: get_date_year(x['withdrawn']), axis=1)```.

The database table DF is shown as follows:
[HEAD]: number|builder|entered_service|withdrawn|entered_service_year|withdrawn_year
---
[ROW] 1: 439|NZR Addington|9-1-1909|2-3-1957|1909|1957
[ROW] 2: 443|NZR Addington|1-12-1909|2-3-1957|1909|1957
[ROW] 3: 444|NZR Addington|3-2-1910|2-3-1957|1910|1957
[ROW] 4: 446|NZR Addington|30-4-1910|6-12-1946|1910|1946
[ROW] 5: 588|NZR Addington|14-10-1913|2-3-1957|1913|1957
[ROW] 6: 589|NZR Addington|11-11-1949|6-1949|1949|1949

Answer the following question based on the data above: "how many number were in service in 1910?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.

SQL: ```SELECT * FROM DF WHERE entered_service_year<=1910 AND withdrawn_year>=1910;```.

The database table DF is shown as follows:
[HEAD]: number|builder|entered_service|withdrawn|entered_service_year|withdrawn_year
---
[ROW] 1: 439|NZR Addington|9-1-1909|2-3-1957|1909|1957
[ROW] 2: 443|NZR Addington|1-12-1909|2-3-1957|1909|1957
[ROW] 3: 444|NZR Addington|3-2-1910|2-3-1957|1910|1957
[ROW] 4: 446|NZR Addington|30-4-1910|6-12-1946|1910|1946

Answer the following question based on the data above: "how many number were in service in 1910?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.

SQL: ```SELECT COUNT(*) FROM DF;```.

The database table DF is shown as follows:
[HEAD]: COUNT(*)
---
[ROW] 1: 4

Answer the following question based on the data above: "how many number were in service in 1910?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL code, a Python code, or directly answering the question.

Answer: ```4```.

The database table DF is shown as follows:
[HEAD]: name|dates|grt|propulsion|port|notes
---
[ROW] 1: Arataki  i|1948-84|74|320 bhp diesel, 10 knots (19 km/h)|nan|US Navy harbour tug
[ROW] 2: Arataki  ii|1984-99|143|1100 bhp diesel, 12 knots (22 km/h)|Timaru|harbour tug
[ROW] 3: Hipi|1942-56|39|100 bhp diesel, 8 knots (15 km/h)|Auckland|Towing lighters
[ROW] 4: Kahanui|1942-45|207|800 ihp SR TE coal, 11 knots (20 km/h)|Wanganui|harbour tug
[ROW] 5: Manawanui  i|1948-52|74|329 bhp diesel, 10 knots (19 km/h)|Auckland|US Navy harbour tug
[ROW] 6: Meola|1961-|19|76 bhp diesel, 9 knots (17 km/h)|Auckland|work boat
[ROW] 7: Toia|1926-49|423|1250 ihp SR TE coal, 12 knots (22 km/h)|Wellington|World War I Saint class naval tug, a notable salvage tug

Answer the following question based on the data above: "which ship in auckland had the fastest speed in knots?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.

Python: ```
def get_knots(s):
    import re
    return float(re.search(", (.*?) knots", s).group(1))
DF['knots'] = DF.apply(lambda x: get_knots(x['propulsion']), axis=1)```.

The database table DF is shown as follows:
[HEAD]: name|dates|grt|propulsion|port|notes|knots
---
[ROW] 1: Arataki  i|1948-84|74|320 bhp diesel, 10 knots (19 km/h)|nan|US Navy harbour tug|10.0
[ROW] 2: Arataki  ii|1984-99|143|1100 bhp diesel, 12 knots (22 km/h)|Timaru|harbour tug|12.0
[ROW] 3: Hipi|1942-56|39|100 bhp diesel, 8 knots (15 km/h)|Auckland|Towing lighters|8.0
[ROW] 4: Kahanui|1942-45|207|800 ihp SR TE coal, 11 knots (20 km/h)|Wanganui|harbour tug|11.0
[ROW] 5: Manawanui  i|1948-52|74|329 bhp diesel, 10 knots (19 km/h)|Auckland|US Navy harbour tug|10.0
[ROW] 6: Meola|1961-|19|76 bhp diesel, 9 knots (17 km/h)|Auckland|work boat|9.0
[ROW] 7: Toia|1926-49|423|1250 ihp SR TE coal, 12 knots (22 km/h)|Wellington|World War I Saint class naval tug, a notable salvage tug|12.0

Answer the following question based on the data above: "which ship in auckland had the fastest speed in knots?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.

SQL: ```SELECT * FROM DF WHERE port="Auckland";```.

The database table DF is shown as follows:
[HEAD]: name|dates|grt|propulsion|port|notes|knots
---
[ROW] 1: Hipi|1942-56|39|100 bhp diesel, 8 knots (15 km/h)|Auckland|Towing lighters|8.0
[ROW] 2: Manawanui  i|1948-52|74|329 bhp diesel, 10 knots (19 km/h)|Auckland|US Navy harbour tug|10.0
[ROW] 3: Meola|1961-|19|76 bhp diesel, 9 knots (17 km/h)|Auckland|work boat|9.0

Answer the following question based on the data above: "which ship in auckland had the fastest speed in knots?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.

SQL: ```SELECT * FROM DF ORDER BY knots DESC LIMIT 1;```.

The database table DF is shown as follows:
[HEAD]: name|dates|grt|propulsion|port|notes|knots
---
[ROW] 1: Manawanui  i|1948-52|74|329 bhp diesel, 10 knots (19 km/h)|Auckland|US Navy harbour tug|10.0

Answer the following question based on the data above: "which ship in auckland had the fastest speed in knots?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL code, a Python code, or directly answering the question.

Answer: ```Manawanui  i```.

The database table DF is shown as follows:
[HEAD]: rank|cyclist|team|time|uci_protour_points
---
[ROW] 1: 2|Alexandr Kolobnev (RUS)|Team CSC Saxo Bank|s.t.|30
[ROW] 2: 3|Davide Rebellin (ITA)|Gerolsteiner|s.t.|25
[ROW] 3: 4|Paolo Bettini (ITA)|Quick Step|s.t.|20
[ROW] 4: 5|Franco Pellizotti (ITA)|Liquigas|s.t.|15
[ROW] 5: 6|Denis Menchov (RUS)|Rabobank|s.t.|11
[ROW] 6: 7|Samuel Sánchez (ESP)|Euskaltel-Euskadi|s.t.|7

Answer the following question based on the data above: "which country had the most cyclists finish within the top 10?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.

Python: ```
def get_country(s):
    import re
    return re.search("\((.*?)\)", s).group(1)
DF['country'] = DF.apply(lambda x: get_country(x['cyclist']), axis=1)```.

The database table DF is shown as follows:
[HEAD]: rank|cyclist|team|time|uci_protour_points|country
---
[ROW] 1: 2|Alexandr Kolobnev (RUS)|Team CSC Saxo Bank|s.t.|30|RUS
[ROW] 2: 3|Davide Rebellin (ITA)|Gerolsteiner|s.t.|25|ITA
[ROW] 3: 4|Paolo Bettini (ITA)|Quick Step|s.t.|20|ITA
[ROW] 4: 5|Franco Pellizotti (ITA)|Liquigas|s.t.|15|ITA
[ROW] 5: 6|Denis Menchov (RUS)|Rabobank|s.t.|11|RUS
[ROW] 6: 7|Samuel Sánchez (ESP)|Euskaltel-Euskadi|s.t.|7|ESP

Answer the following question based on the data above: "which country had the most cyclists finish within the top 10?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.
"""

model = "davinci-codex-002-msft"
# model = "text-davinci-003"
API_key = "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"
openai.api_key = API_key

openai.Completion.create(engine=model,
                        prompt=prompt,
                        max_tokens=128,
                        temperature=0,
                        top_p=1,
                        frequency_penalty=0,
                        n=1,
                        stream=False,
                        stop='```.')

<OpenAIObject text_completion id=cmpl-6kwZjWOUjtu03fiEUDk2Vo9nSkWra at 0x7f34c6f78400> JSON: {
  "choices": [
    {
      "finish_reason": "stop",
      "index": 0,
      "logprobs": null,
      "text": "\nSQL: ```SELECT country, COUNT(*) FROM DF GROUP BY country;"
    }
  ],
  "created": 1676646271,
  "id": "cmpl-6kwZjWOUjtu03fiEUDk2Vo9nSkWra",
  "model": "davinci-codex-002-msft",
  "object": "text_completion",
  "usage": {
    "completion_tokens": 18,
    "prompt_tokens": 3973,
    "total_tokens": 3991
  }
}

In [8]:
def parallel_codex_func(i):
    max_retry = 3
    while max_retry>0:
        try:
            codex_prompter = CodexAnswerCOTExecutor(dataset.iloc[i]['id'], 
                                              dataset.iloc[i]['utterance'], 
                                              './csv/' + dataset.iloc[i]['context'], 
                                              dataset.iloc[i]['targetValue'], 
                                              base_path='./dataset/multimodalqa/',
                                              demo_file=f'few-shot-demo/examples-COT-execution-sql-TabFact.txt',
                                             sep=','
                                             )
            codex_prompter._gen_gpt_prompt()
            codex_prompter._get_gpt_prediction()
            log = codex_prompter._log_dict()
            break
        except Exception as e:
            log = {
                'id': dataset.iloc[i]['id'],
                'uncaught_err': str(e)
            }
            max_retry -= 1
    return log
    
# for program in [ 'sql-py']:
for program in [ 'sql', ]:
    n_threads = 40
    maxLimit = float('inf')
    # maxLimit = 100
    from joblib import Parallel, delayed
    logs = Parallel(n_jobs=n_threads, require='sharedmem')(delayed(parallel_codex_func)(i) for i in tqdm(range(min(maxLimit, dataset.shape[0]))))
    json.dump(logs, open(f'./dataset/multimodalqa/results/CodexAnswerCOTExecutor_{program}_results_dev.json', 'w'), indent=4)

  0%|                                                                                                                                                                                                                                                                                                                        | 0/2441 [00:00<?, ?it/s]
  3%|█████████▉                                                                                                                                                                                                                                                                                                     | 80/2441 [00:01<00:44, 53.25it/s]
  5%|██████████████▊                                                                                                                                                                                                                                                                                               | 120/2441 [00:03<01:08, 33.88it/s]
  7%|███████████████████▊                                                                                                                                                                                                                                                                                          | 160/2441 [00:04<01:18, 29.08it/s]
  8%|████████████████████████▋                                                                                                                                                                                                                                                                                     | 200/2441 [00:06<01:25, 26.13it/s]
 10%|█████████████████████████████▋                                                                                                                                                                                                                                                                                | 240/2441 [00:08<01:25, 25.71it/s]
 11%|██████████████████████████████████▋                                                                                                                                                                                                                                                                           | 280/2441 [00:10<01:26, 24.98it/s]
 13%|███████████████████████████████████████▌                                                                                                                                                                                                                                                                      | 320/2441 [00:12<01:30, 23.53it/s]
 15%|████████████████████████████████████████████▌                                                                                                                                                                                                                                                                 | 360/2441 [00:13<01:27, 23.92it/s]
 16%|█████████████████████████████████████████████████▍                                                                                                                                                                                                                                                            | 400/2441 [00:15<01:29, 22.81it/s]
 18%|██████████████████████████████████████████████████████▍                                                                                                                                                                                                                                                       | 440/2441 [00:17<01:26, 23.27it/s]
 20%|███████████████████████████████████████████████████████████▍                                                                                                                                                                                                                                                  | 480/2441 [00:18<01:24, 23.18it/s]
 21%|████████████████████████████████████████████████████████████████▎                                                                                                                                                                                                                                             | 520/2441 [00:21<01:28, 21.78it/s]
 23%|█████████████████████████████████████████████████████████████████████▎                                                                                                                                                                                                                                        | 560/2441 [00:24<01:42, 18.34it/s]
 25%|██████████████████████████████████████████████████████████████████████████▏                                                                                                                                                                                                                                   | 600/2441 [00:26<01:43, 17.74it/s]
 26%|███████████████████████████████████████████████████████████████████████████████▏                                                                                                                                                                                                                              | 640/2441 [00:28<01:38, 18.36it/s]
 28%|████████████████████████████████████████████████████████████████████████████████████▏                                                                                                                                                                                                                         | 680/2441 [00:30<01:40, 17.60it/s]
 29%|█████████████████████████████████████████████████████████████████████████████████████████                                                                                                                                                                                                                     | 720/2441 [00:32<01:34, 18.27it/s]
 31%|██████████████████████████████████████████████████████████████████████████████████████████████                                                                                                                                                                                                                | 760/2441 [00:35<01:31, 18.46it/s]
 33%|██████████████████████████████████████████████████████████████████████████████████████████████████▉                                                                                                                                                                                                           | 800/2441 [00:38<01:41, 16.24it/s]
 34%|███████████████████████████████████████████████████████████████████████████████████████████████████████▉                                                                                                                                                                                                      | 840/2441 [00:40<01:31, 17.58it/s]
 36%|████████████████████████████████████████████████████████████████████████████████████████████████████████████▊                                                                                                                                                                                                 | 880/2441 [00:41<01:20, 19.47it/s]
 38%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████▊                                                                                                                                                                                            | 920/2441 [00:43<01:14, 20.35it/s]
 39%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▊                                                                                                                                                                                       | 960/2441 [00:44<01:08, 21.56it/s]
 41%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▎                                                                                                                                                                                 | 1000/2441 [00:46<01:04, 22.43it/s]
 43%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▏                                                                                                                                                                            | 1040/2441 [00:48<01:02, 22.46it/s]
 44%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▏                                                                                                                                                                       | 1080/2441 [00:49<00:57, 23.60it/s]
 46%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████                                                                                                                                                                   | 1120/2441 [00:51<00:58, 22.77it/s]
 48%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████                                                                                                                                                              | 1160/2441 [00:53<00:58, 21.87it/s]
 49%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▉                                                                                                                                                         | 1200/2441 [00:55<00:54, 22.59it/s]
 51%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▉                                                                                                                                                    | 1240/2441 [00:56<00:51, 23.46it/s]
 52%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▊                                                                                                                                               | 1280/2441 [00:58<00:49, 23.27it/s]
 54%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▊                                                                                                                                          | 1320/2441 [01:00<00:46, 23.95it/s]
 56%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▋                                                                                                                                     | 1360/2441 [01:01<00:44, 24.42it/s]
 57%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▋                                                                                                                                | 1400/2441 [01:04<00:47, 21.72it/s]
 59%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▌                                                                                                                           | 1440/2441 [01:05<00:43, 23.07it/s]
 61%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▍                                                                                                                      | 1480/2441 [01:07<00:43, 22.34it/s]
 62%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▍                                                                                                                 | 1520/2441 [01:09<00:42, 21.53it/s]
 64%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▎                                                                                                            | 1560/2441 [01:12<00:48, 18.08it/s]
 66%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▎                                                                                                       | 1600/2441 [01:15<00:51, 16.24it/s]
 67%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▏                                                                                                  | 1640/2441 [01:18<00:49, 16.15it/s]
 69%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▏                                                                                             | 1680/2441 [01:20<00:44, 17.16it/s]
 70%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████                                                                                         | 1720/2441 [01:22<00:42, 16.94it/s]
 72%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████                                                                                    | 1760/2441 [01:24<00:38, 17.70it/s]
 74%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▉                                                                               | 1800/2441 [01:26<00:36, 17.55it/s]
 75%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▉                                                                          | 1840/2441 [01:29<00:35, 16.97it/s]
 77%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▊                                                                     | 1880/2441 [01:32<00:34, 16.06it/s]
 79%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▊                                                                | 1920/2441 [01:34<00:32, 15.92it/s]
 80%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▋                                                           | 1960/2441 [01:37<00:31, 15.47it/s]
 82%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▌                                                      | 2000/2441 [01:41<00:33, 13.34it/s]
 84%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▌                                                 | 2040/2441 [01:44<00:30, 13.23it/s]
 85%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▍                                            | 2080/2441 [01:47<00:28, 12.84it/s]
 87%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▍                                       | 2120/2441 [01:50<00:23, 13.91it/s]
 88%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▎                                  | 2160/2441 [01:54<00:23, 11.79it/s]
 90%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▎                             | 2200/2441 [01:57<00:19, 12.30it/s]
 92%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▏                        | 2240/2441 [02:01<00:16, 12.00it/s]
 93%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████▏                   | 2280/2441 [02:03<00:12, 12.97it/s]
 95%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████               | 2320/2441 [02:06<00:09, 12.96it/s]

In [43]:
codex_prompter.original_output

['SQL: ```SELECT * FROM DF ORDER BY date DESC LIMIT 3;',
 'SQL: ```SELECT result FROM DF ORDER BY date DESC LIMIT 3;',
 'Answer: ```75']

In [44]:
codex_prompter.predicted_result

'75'

In [3]:
def parallel_codex_func_unsafe(i):
    codex_prompter = CodexAnswerCOTExecutor(dataset.iloc[i]['id'], 
                                              dataset.iloc[i]['utterance'], 
                                              './csv/' + dataset.iloc[i]['context'], 
                                              dataset.iloc[i]['targetValue'], 
                                              base_path='./dataset/multimodalqa/',
                                              demo_file=f'few-shot-demo/examples-COT-execution-sql-TabFact.txt',
                                             sep=','
                                             )
    codex_prompter._gen_gpt_prompt()
    codex_prompter._get_gpt_prediction()
    return codex_prompter._log_dict()
log = parallel_codex_func_unsafe(1)
# print(log['prompt'])

In [4]:
# print(log['prompt'])
log

{'id': '710a6d2254076ea58756c6c7cc211f1e',
 'utterance': 'When was the movie that had Ben Piazza in the role of Bob Whitewood released?',
 'source_csv': './dataset/multimodalqa/./csv/8513db80c11ea439ab11eba406ec00d9.csv',
 'target_value': '1976',
 'predicted_value': '1976',
 'prompt': 'The database table DF is shown as follows:\n[HEAD]: year|venue|winner|country|score\n---\n[ROW] 1: 2005|arlandastad|david patrick|scotland|272\n[ROW] 2: 2004|arlandastad|matthew king|england|270\n[ROW] 3: 2003|falsterbo|titch moore|south africa|273\n[ROW] 4: 2002|halmstad|thomas besancenez|france|279\n[ROW] 5: 2001|bokskogens|cristophe pottier|france|272\n\nAnswer the following question based on the data above: "in 2004 the score be less than 270. yes or no?". Execute SQL step-by-step and finally answer the question. Choose from generating a SQL or directly answering the question.\n\nSQL: ```SELECT score FROM DF WHERE year=2004;```.\n\nThe database table DF is shown as follows:\n[HEAD]: score\n---\n[ROW] 1: 270\n\nAnswer the following question based on the data above: "in 2004 the score be less than 270. yes or no?". Execute SQL step-by-step and finally answer the question. Choose from generating a SQL or directly answering the question.\n\nAnswer: ```no```.\n\nThe database table DF is shown as follows:\n[HEAD]: nat|name|moving_from|type|transfer_window|transfer_fee\n---\n[ROW] 1: esp|mikel arteta|barcelona|transfer|summer|5.8 m\n[ROW] 2: aus|kevin muscat|wolverhampton wanderers|transfer|summer|free\n[ROW] 3: sco|steven thompson|dundee united|transfer|winter|0.2 m\n[ROW] 4: fra|jerome bonnissel|bordeaux|transfer|winter|free\n[ROW] 5: nor|dan eggen|deportivo alavés|transfer|winter|free\n\nAnswer the following question based on the data above: "there be 3 total transfer in the winter. yes or no?". Execute SQL step-by-step and finally answer the question. Choose from generating a SQL or directly answering the question.\n\nSQL: ```SELECT * FROM DF WHERE transfer_window="winter";```.\n\nThe database table DF is shown as follows:\n[HEAD]: nat|name|moving_from|type|transfer_window|transfer_fee\n---\n[ROW] 1: sco|steven thompson|dundee united|transfer|winter|0.2 m\n[ROW] 2: fra|jerome bonnissel|bordeaux|transfer|winter|free\n[ROW] 3: nor|dan eggen|deportivo alavés|transfer|winter|free\n\nAnswer the following question based on the data above: "there be 3 total transfer in the winter. yes or no?". Execute SQL step-by-step and finally answer the question. Choose from generating a SQL or directly answering the question.\n\nSQL: ```SELECT COUNT(*) FROM DF;```.\n\nThe database table DF is shown as follows:\n[HEAD]: COUNT(*)\n---\n[ROW] 1: 3\n\nAnswer the following question based on the data above: "there be 3 total transfer in the winter. yes or no?". Execute SQL step-by-step and finally answer the question. Choose from generating a SQL or directly answering the question.\n\nAnswer: ```yes```.\n\nThe database table DF is shown as follows:\n[HEAD]: opposing_team|against|date|venue|round\n---\n[ROW] 1: gillingham|1|1991 - 08 - 20|fratton park|1st round 1st leg\n[ROW] 2: gillingham|3|1991 - 08 - 27|priestfield stadium|1st round 2nd leg\n[ROW] 3: oxford united|0|1991 - 09 - 24|fratton park|2nd round 1st leg\n[ROW] 4: oxford united|0|1991 - 10 - 09|manor ground|2nd round 2nd leg\n[ROW] 5: manchester united|3|1991 - 10 - 30|old trafford|3rd round\n\nAnswer the following question based on the data above: "there be 1 game play oppose to gillingham in august. yes or no?". Execute SQL step-by-step and finally answer the question. Choose from generating a SQL or directly answering the question.\n\nSQL: ```SELECT * FROM DF where date LIKE "%- 08 -%" AND opposing_team="gillingham";```.\n\nThe database table DF is shown as follows:\n[HEAD]: opposing_team|against|date|venue|round\n---\n[ROW] 1: gillingham|1|1991 - 08 - 20|fratton park|1st round 1st leg\n[ROW] 2: gillingham|3|1991 - 08 - 27|priestfield stadium|1st round 2nd leg\n\nAnswer the following question based on the data above: "there be 1 game play oppose to gillingham in august. yes or no?". Execute SQL step-by-step and finally answer the question. Choose from generating a SQL or directly answering the question.\n\nSQL: ```SELECT COUNT(*) FROM DF;```.\n\nThe database table DF is shown as follows:\n[HEAD]: COUNT(*)\n---\n[ROW] 1: 2\n\nAnswer the following question based on the data above: "there be 1 game play oppose to gillingham in august. yes or no?". Execute SQL step-by-step and finally answer the question. Choose from generating a SQL or directly answering the question.\n\nAnswer: ```no```.\n\nThe database table DF is shown as follows:\n[HEAD]: year|title|role|notes\n---\n[ROW] 1: 1957|A Dangerous Age|David|nan\n[ROW] 2: 1959|The Hanging Tree|Rune|nan\n[ROW] 3: 1962|No Exit|Camarero|nan\n[ROW] 4: 1970|Tell Me That You Love Me, Junie Moon|Jesse|nan\n[ROW] 5: 1972|The Outside Man|Desk Clerk|nan\n[ROW] 6: 1973|The Candy Snatchers|Avery|nan\n[ROW] 7: 1976|The Bad News Bears|Bob Whitewood|nan\n[ROW] 8: 1977|I Never Promised You a Rose Garden|Jay Blake|nan\n[ROW] 9: 1979|Nightwing|Roger Piggott|nan\n[ROW] 10: 1979|The Concorde ... Airport \'79|Associate|TV version, Uncredited\n[ROW] 11: 1980|The Blues Brothers|Father|nan\n[ROW] 12: 1982|Waltz Across Texas|Bill Wrather|nan\n[ROW] 13: 1985|Mask|Mr. Simms|nan\n[ROW] 14: 1988|Clean and Sober|Kramer|nan\n[ROW] 15: 1990|Rocky V|Doctor|Uncredited\n[ROW] 16: 1991|Guilty by Suspicion|Darryl Zanuck|nan\n\nAnswer the following question based on the data above: "When was the movie that had Ben Piazza in the role of Bob Whitewood released?". Execute SQL step-by-step and finally answer the question. Choose from generating a SQL or directly answering the question.\n\nSQL: ```SELECT year FROM DF WHERE role="Bob Whitewood";```.\n\nThe database table DF is shown as follows:\n[HEAD]: year\n---\n[ROW] 1: 1976\n\nAnswer the following question based on the data above: "When was the movie that had Ben Piazza in the role of Bob Whitewood released?". Execute SQL step-by-step and finally answer the question. Choose from generating a SQL or directly answering the question.\n',
 'execution_match': None,
 'gpt_error': None,
 'execution_err': None,
 'predicted_sql': None,
 'df_reformat_sql': None,
 'gpt_original_output': ['SQL: ```SELECT year FROM DF WHERE role="Bob Whitewood";',
  'Answer: ```1976'],
 'training_demo_ids': []}

In [22]:
logs = json.load(open('/mnt/text2sql/dataset/WikiTableQuestions/results/CodexAnswerCOTExecutor_sql-py_results_pristine-unseen-tables.json'))

In [26]:
i = 80
print(logs[i]['prompt'])
print(logs[i])

The database table DF is shown as follows:
[HEAD]: Year|Division|League|Regular Season|Playoffs|Open Cup|Avg. Attendance
---
[ROW] 1: 2001|2|USL A-League|4th, Western|Quarterfinals|Did not qualify|7,169
[ROW] 2: 2002|2|USL A-League|2nd, Pacific|1st Round|Did not qualify|6,260
[ROW] 3: 2003|2|USL A-League|3rd, Pacific|Did not qualify|Did not qualify|5,871
[ROW] 4: 2004|2|USL A-League|1st, Western|Quarterfinals|4th Round|5,628
[ROW] 5: 2005|2|USL First Division|5th|Quarterfinals|4th Round|6,028
[ROW] 6: 2006|2|USL First Division|11th|Did not qualify|3rd Round|5,575
[ROW] 7: 2007|2|USL First Division|2nd|Semifinals|2nd Round|6,851
[ROW] 8: 2008|2|USL First Division|11th|Did not qualify|1st Round|8,567
[ROW] 9: 2009|2|USL First Division|1st|Semifinals|3rd Round|9,734
[ROW] 10: 2010|2|USSF D-2 Pro League|3rd, USL (3rd)|Quarterfinals|3rd Round|10,727

Answer the following question based on the data above: "what was the last year where this team was a part of the usl a-league?". Execute SQL step-by-step and finally answer the question. Choose from generating a SQL or directly answering the question.

SQL: ```SELECT * FROM DF WHERE Division = "USL A-League";```.

The database table DF is shown as follows:
[HEAD]: Year|Division|League|Regular Season|Playoffs|Open Cup|Avg. Attendance
---
[ROW] 1: 2001|2|USL A-League|4th, Western|Quarterfinals|Did not qualify|7,169
[ROW] 2: 2002|2|USL A-League|2nd, Pacific|1st Round|Did not qualify|6,260
[ROW] 3: 2003|2|USL A-League|3rd, Pacific|Did not qualify|Did not qualify|5,871
[ROW] 4: 2004|2|USL A-League|1st, Western|Quarterfinals|4th Round|5,628

Answer the following question based on the data above: "what was the last year where this team was a part of the usl a-league?". Execute SQL step-by-step and finally answer the question. Choose from generating a SQL or directly answering the question.

SQL: ```SELECT Year FROM DF ORDER BY Year DESC LIMIT 1;```.

The database table DF is shown as follows:
[HEAD]: Year
---
[ROW] 1: 2004

Answer the following question based on the data above: "what was the last year where this team was a part of the usl a-league?". Execute SQL step-by-step and finally answer the question. Choose from generating a SQL or directly answering the question.

Answer: ```2004```.

The database table DF is shown as follows:
[HEAD]: rank|nation|gold|silver|bronze|total
---
[ROW] 1: 1.|United States|8|7|1|16
[ROW] 2: 2.|Russia|7|7|5|19
[ROW] 3: 3.|France|3|3|2|8
[ROW] 4: 4.|Ethiopia|3|2|2|7
[ROW] 5: 5.|Belarus|3|1|3|7
[ROW] 6: 6.|Sweden|2|1|2|5
[ROW] 7: 7.|Kenya|2|1|1|4
[ROW] 8: 7=|South Africa|2|1|1|4
...
[ROW] 42: 40=|Netherlands|0|0|1|1
[ROW] 43: 40=|Senegal|0|0|1|1

Answer the following question based on the data above: "has the dominican republic won more or less medals than china?". Execute SQL step-by-step and finally answer the question. Choose from generating a SQL or directly answering the question.

SQL: ```SELECT * FROM DF WHERE nation="China" or nation="Dominican Republic";```.

The database table DF is shown as follows:
[HEAD]: rank|nation|gold|silver|bronze|total
---
[ROW] 1: 14=|Dominican Republic|1|0|0|1
[ROW] 2: 39.|China|0|0|2|2

Answer the following question based on the data above: "has the dominican republic won more or less medals than china?". Execute SQL step-by-step and finally answer the question. Choose from generating a SQL or directly answering the question.

SQL: ```SELECT nation, total FROM DF;```.

The database table DF is shown as follows:
[HEAD]: nation|total
---
[ROW] 1: Dominican Republic|1
[ROW] 2: China|2

Answer the following question based on the data above: "has the dominican republic won more or less medals than china?". Execute SQL step-by-step and finally answer the question. Choose from generating a SQL or directly answering the question.

Answer: ```less```.

The database table DF is shown as follows:
[HEAD]: name|dates|grt|propulsion|port|notes
---
[ROW] 1: Arataki  i|1948-84|74|320 bhp diesel, 10 knots (19 km/h)|nan|US Navy harbour tug
[ROW] 2: Arataki  ii|1984-99|143|1100 bhp diesel, 12 knots (22 km/h)|Timaru|harbour tug
[ROW] 3: Hipi|1942-56|39|100 bhp diesel, 8 knots (15 km/h)|Auckland|Towing lighters
[ROW] 4: Kahanui|1942-45|207|800 ihp SR TE coal, 11 knots (20 km/h)|Wanganui|harbour tug
[ROW] 5: Manawanui  i|1948-52|74|329 bhp diesel, 10 knots (19 km/h)|Auckland|US Navy harbour tug
[ROW] 6: Meola|1961-|19|76 bhp diesel, 9 knots (17 km/h)|Auckland|work boat
[ROW] 7: Toia|1926-49|423|1250 ihp SR TE coal, 12 knots (22 km/h)|Wellington|World War I Saint class naval tug, a notable salvage tug

Answer the following question based on the data above: "which ship in auckland had the fastest speed in knots?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.

Python: ```
def get_knots(s):
    import re
    return float(re.search(", (.*?) knots", s).group(1))
DF['knots'] = DF.apply(lambda x: get_knots(x['propulsion']), axis=1)
```.

The database table DF is shown as follows:
[HEAD]: name|dates|grt|propulsion|port|notes|knots
---
[ROW] 1: Arataki  i|1948-84|74|320 bhp diesel, 10 knots (19 km/h)|nan|US Navy harbour tug|10.0
[ROW] 2: Arataki  ii|1984-99|143|1100 bhp diesel, 12 knots (22 km/h)|Timaru|harbour tug|12.0
[ROW] 3: Hipi|1942-56|39|100 bhp diesel, 8 knots (15 km/h)|Auckland|Towing lighters|8.0
[ROW] 4: Kahanui|1942-45|207|800 ihp SR TE coal, 11 knots (20 km/h)|Wanganui|harbour tug|11.0
[ROW] 5: Manawanui  i|1948-52|74|329 bhp diesel, 10 knots (19 km/h)|Auckland|US Navy harbour tug|10.0
[ROW] 6: Meola|1961-|19|76 bhp diesel, 9 knots (17 km/h)|Auckland|work boat|9.0
[ROW] 7: Toia|1926-49|423|1250 ihp SR TE coal, 12 knots (22 km/h)|Wellington|World War I Saint class naval tug, a notable salvage tug|12.0

Answer the following question based on the data above: "which ship in auckland had the fastest speed in knots?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.

SQL: ```SELECT * FROM DF WHERE port="Auckland";```.

The database table DF is shown as follows:
[HEAD]: name|dates|grt|propulsion|port|notes|knots
---
[ROW] 1: Hipi|1942-56|39|100 bhp diesel, 8 knots (15 km/h)|Auckland|Towing lighters|8.0
[ROW] 2: Manawanui  i|1948-52|74|329 bhp diesel, 10 knots (19 km/h)|Auckland|US Navy harbour tug|10.0
[ROW] 3: Meola|1961-|19|76 bhp diesel, 9 knots (17 km/h)|Auckland|work boat|9.0

Answer the following question based on the data above: "which ship in auckland had the fastest speed in knots?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.

SQL: ```SELECT * FROM DF ORDER BY knots DESC LIMIT 1;```.

The database table DF is shown as follows:
[HEAD]: name|dates|grt|propulsion|port|notes|knots
---
[ROW] 1: Manawanui  i|1948-52|74|329 bhp diesel, 10 knots (19 km/h)|Auckland|US Navy harbour tug|10.0

Answer the following question based on the data above: "which ship in auckland had the fastest speed in knots?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL code, a Python code, or directly answering the question.

Answer: ```Manawanui  i```.

The database table DF is shown as follows:
[HEAD]: rank|nation|gold|silver|bronze|total
---
[ROW] 1: 1|Canada|9|6|5|20
[ROW] 2: 2|United States|8|7|8|23
[ROW] 3: 3|Austria|7|9|8|24
[ROW] 4: 4|Japan|4|2|1|7
[ROW] 5: 5|Italy|3|7|4|14
[ROW] 6: 6|France|3|4|4|11
[ROW] 7: 7|Australia|3|4|0|7
[ROW] 8: 8|Norway|2|2|2|6
[ROW] 9: 9|Slovenia|2|1|2|5
[ROW] 10: =10|Finland|2|1|1|4
...
[ROW] 22: =20|Sweden|0|0|1|1
[ROW] 23: Total|Total|52|52|52|156

Answer the following question based on the data above: "what is the total number of silver medals?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.

SQL: ```SELECT silver FROM DF WHERE nation="Total";```.

The database table DF is shown as follows:
[HEAD]: rank|nation|gold|silver|bronze|total
---
[ROW] 1: Total|Total|52|52|52|156

Answer the following question based on the data above: "what is the total number of silver medals?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL code, a Python code, or directly answering the question.

Answer: ```52```.

The database table DF is shown as follows:
[HEAD]: year|recipient|nationality|profession|speech
---
[ROW] 1: 1997|Elie Wiesel|United States|Professional writer
Winner of the Nobel Peace Prize (1986)|nan
[ROW] 2: 1998|Herman Wouk|United States|Professional writer and 1952 Pulitzer Prize winner|nan
[ROW] 3: 1999|A.M. Rosenthal|United States|Former New York Times editor
Former New York Daily News columnist|nan
[ROW] 4: 2000|Sir Martin Gilbert|United Kingdom|Historian and writer|nan
[ROW] 5: 2001|Cynthia Ozick|United States|Professional writer|nan
[ROW] 6: 2002|Charles Krauthammer|United States|The Washington Post columnist|[1]
[ROW] 7: 2003|Ruth Roskies Wisse|United States|Yiddish professor of Harvard University|[2]
[ROW] 8: 2004|Arthur Cohn|Switzerland|Filmmaker and writer|nan
[ROW] 9: 2005|William Safire|United States|Author, journalist and speechwriter
1978 Pulitzer Prize winner|nan
[ROW] 10: 2006|Daniel Pipes|United States|Author and historian|nan
[ROW] 11: 2007|Norman Podhoretz|United States|Author, columnist|nan
[ROW] 12: 2008|David Be'eri, Mordechai Eliav, Rabbi Yehuda Maly|Israel|nan|nan
[ROW] 13: 2009|Caroline Glick|Israel|Journalist|nan
[ROW] 14: 2010|Malcolm Hoenlein|United States|Executive Vice Chairman of the Conference of Presidents of Major American Jewish Organizations|nan

Answer the following question based on the data above: "how many times is professional writer listed as the profession according to this chart?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.

Python: ```
def get_profession(s):
    import re
    return re.search("^(.*?)\|", s).group(1)
DF['profession'] = DF.apply(lambda x: get_profession(x['profession']), axis=1)```.

The database table DF is shown as follows:
[HEAD]: year|recipient|nationality|profession|speech
---
[ROW] 1: 1997|Elie Wiesel|United States|Professional writer
Winner of the Nobel Peace Prize (1986)|nan
[ROW] 2: 1998|Herman Wouk|United States|Professional writer and 1952 Pulitzer Prize winner|nan
[ROW] 3: 1999|A.M. Rosenthal|United States|Former New York Times editor
Former New York Daily News columnist|nan
[ROW] 4: 2000|Sir Martin Gilbert|United Kingdom|Historian and writer|nan
[ROW] 5: 2001|Cynthia Ozick|United States|Professional writer|nan
[ROW] 6: 2002|Charles Krauthammer|United States|The Washington Post columnist|[1]
[ROW] 7: 2003|Ruth Roskies Wisse|United States|Yiddish professor of Harvard University|[2]
[ROW] 8: 2004|Arthur Cohn|Switzerland|Filmmaker and writer|nan
[ROW] 9: 2005|William Safire|United States|Author, journalist and speechwriter
1978 Pulitzer Prize winner|nan
[ROW] 10: 2006|Daniel Pipes|United States|Author and historian|nan
[ROW] 11: 2007|Norman Podhoretz|United States|Author, columnist|nan
[ROW] 12: 2008|David Be'eri, Mordechai Eliav, Rabbi Yehuda Maly|Israel|nan|nan
[ROW] 13: 2009|Caroline Glick|Israel|Journalist|nan
[ROW] 14: 2010|Malcolm Hoenlein|United States|Executive Vice Chairman of the Conference of Presidents of Major American Jewish Organizations|nan

Answer the following question based on the data above: "how many times is professional writer listed as the profession according to this chart?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.

SQL: ```SELECT * FROM DF WHERE profession="Professional writer";```.

The database table DF is shown as follows:
[HEAD]: year|recipient|nationality|profession|speech
---
[ROW] 1: 2001|Cynthia Ozick|United States|Professional writer|None

Answer the following question based on the data above: "how many times is professional writer listed as the profession according to this chart?". Execute SQL or Python code step-by-step and finally answer the question. Choose from generating a SQL, Python code, or directly answering the question.


In [45]:
print(diff.months)

1

In [34]:
date_1

datetime.datetime(2021, 7, 2, 0, 0)

In [35]:
date_time1

datetime.datetime(1995, 9, 1, 0, 0)