In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import re
import pandas as pd
import openai
import os
import json
# from gpt3_sandbox.api.gpt import GPT
# from gpt3_sandbox.api.gpt import Example
from pandasql import sqldf
from tqdm import tqdm
import numpy as np
from GptPrompter import *
from GptCOTPrompter import *
from AutoReasoner import *
import dotenv
import traceback

config = dotenv.dotenv_values(".env")
openai.api_key = config['OPENAI_API_KEY']

dataset = pd.read_csv('./dataset/WikiTableQuestions/data/pristine-unseen-tables.tsv', sep='\t')
# dataset = pd.read_csv('./dataset/WikiTableQuestions/data/training.tsv', sep='\t')

In [3]:
import fasttext
ft = fasttext.load_model('cc.en.300.bin')

Warning : `load_model` does not return WordVectorModel or SupervisedModel any more, but a `FastText` object which is very similar.

In [53]:
# TODO: 1) add more examples for python, 2) balance the length, 3) split the steps, first step SQL etc

NNDemo = False
max_demo = 6
template = 'original-sql-py'
# template = 'formatv1-sql-py'
def parallel_codex_func_formatv1(i):
    max_retry = 3
    while max_retry>0:
        try:
            codex_prompter = CodexAnswerCOTExecutor_decisionAction(
                                              f'prompt_template/{template}-DA.json',
                                              dataset.iloc[i]['id'], 
                                              dataset.iloc[i]['utterance'], 
                                              dataset.iloc[i]['context'], 
                                              dataset.iloc[i]['targetValue'],  
                                              base_path='./dataset/WikiTableQuestions/',
                                              demo_file=f'few-shot-demo/WikiTQ-{program}.json',
                                             )
            codex_prompter.max_demo = max_demo
            codex_prompter._gen_gpt_prompt()
            codex_prompter._get_gpt_prediction()
            log = codex_prompter._log_dict()
            break
        except Exception as e:
            log = {
                'id': dataset.iloc[i]['id'],
                'uncaught_err': str(e)
            }
            max_retry -= 1
    return log
    
for program in [ 'sql-py']:
    n_threads = 10
    maxLimit = float('inf')
    # maxLimit = 100
    from joblib import Parallel, delayed
    output_result_file = f'./dataset/WikiTableQuestions/results/CodexAnswerCOTExecutor_decisionAction_{template}_{program}_NNDemo={NNDemo}_results_pristine-unseen-tables.json'
    logs = Parallel(n_jobs=n_threads, require='sharedmem')(delayed(parallel_codex_func_formatv1)(i) for i in tqdm(range(min(maxLimit, dataset.shape[0]))))
    json.dump(logs, open(output_result_file, 'w'), indent=4)
    # evaluate: 
    os.system(f'cd ./dataset/WikiTableQuestions/ && python2 evaluator.py ./results/{output_result_file.split("/")[-1]} && cd ..')

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 4344/4344 [2:39:38<00:00,  2.21s/it]
Reading dataset from ./tagged/data/training.tagged
Reading dataset from ./tagged/data/pristine-seen-tables.tagged
Reading dataset from ./tagged/data/pristine-unseen-tables.tagged
Read 22033 examples
Reading predictions from ./results/CodexAnswerCOTExecutor_decisionAction_original-sql-py_sql-py_NNDemo=False_results_pristine-unseen-tables.json
Examples: 4344
Correct: 2833
Accuracy: 0.6522
GPT error: 0.0
Uncaught error: 0.0497
{u'Gpt connection timeo': [u'nu-63', u'nu-116', u'nu-123', u'nu-153', u'nu-213', u'nu-222', u'nu-223', u'nu-246', u'nu-301', u'nu-310', u'nu-338', u'nu-344', u'nu-362', u'nu-376', u'nu-392', u'nu-395', u'nu-406', u'nu-422', u'nu-429', u'nu-562', u'nu-569', u'nu-586', u'nu-592', u'nu-597', u'nu-609', u'nu-619', u'nu-627', u'nu-643', u'nu-647', u'nu-669', u'nu-678', u'nu-695', u'nu-705', u'nu-710', u'nu-713', u'nu-722', u'nu-732', u'nu-751', u'nu-755', u'nu-781', u'nu-782', u'nu-793', u'nu-824', u'nu-890', u'nu-899', u'nu-910', u'nu-912', u'nu-955', u'nu-970', u'nu-995', u'nu-996', u'nu-1066', u'nu-1082', u'nu-1153', u'nu-1189', u'nu-1202', u'nu-1206', u'nu-1209', u'nu-1213', u'nu-1228', u'nu-1262', u'nu-1275', u'nu-1391', u'nu-1404', u'nu-1411', u'nu-1422', u'nu-1448', u'nu-1480', u'nu-1481', u'nu-1525', u'nu-1527', u'nu-1607', u'nu-1621', u'nu-1644', u'nu-1671', u'nu-1689', u'nu-1706', u'nu-1728', u'nu-1752', u'nu-1767', u'nu-1788', u'nu-1829', u'nu-1835', u'nu-1836', u'nu-1849', u'nu-1863', u'nu-1876', u'nu-1906', u'nu-1911', u'nu-1929', u'nu-1942', u'nu-1982', u'nu-1996', u'nu-2042', u'nu-2061', u'nu-2129', u'nu-2193', u'nu-2207', u'nu-2317', u'nu-2319', u'nu-2336', u'nu-2341', u'nu-2367', u'nu-2415', u'nu-2424', u'nu-2443', u'nu-2450', u'nu-2461', u'nu-2518', u'nu-2533', u'nu-2550', u'nu-2555', u'nu-2558', u'nu-2559', u'nu-2560', u'nu-2561', u'nu-2564', u'nu-2593', u'nu-2644', u'nu-2706', u'nu-2716', u'nu-2721', u'nu-2729', u'nu-2739', u'nu-2746', u'nu-2758', u'nu-2764', u'nu-2812', u'nu-2837', u'nu-2838', u'nu-2878', u'nu-2896', u'nu-2936', u'nu-2964', u'nu-2996', u'nu-3049', u'nu-3085', u'nu-3086', u'nu-3092', u'nu-3094', u'nu-3095', u'nu-3099', u'nu-3120', u'nu-3133', u'nu-3149', u'nu-3157', u'nu-3178', u'nu-3187', u'nu-3207', u'nu-3260', u'nu-3264', u'nu-3272', u'nu-3312', u'nu-3317', u'nu-3330', u'nu-3337', u'nu-3371', u'nu-3380', u'nu-3391', u'nu-3397', u'nu-3438', u'nu-3441', u'nu-3464', u'nu-3546', u'nu-3561', u'nu-3578', u'nu-3580', u'nu-3612', u'nu-3621', u'nu-3637', u'nu-3648', u'nu-3659', u'nu-3660', u'nu-3697', u'nu-3747', u'nu-3816', u'nu-3846', u'nu-3851', u'nu-3861', u'nu-3969', u'nu-3977', u'nu-4003', u'nu-4136', u'nu-4138', u'nu-4140', u'nu-4169', u'nu-4191', u'nu-4202', u'nu-4208', u'nu-4214', u'nu-4244', u'nu-4255', u'nu-4256', u'nu-4258', u'nu-4275', u'nu-4290'], u"This model's maximum": [u'nu-237', u'nu-682', u'nu-2018', u'nu-2321', u'nu-2323', u'nu-2654', u'nu-3278'], u'Error tokenizing dat': [u'nu-228', u'nu-365', u'nu-969', u'nu-1414', u'nu-2406', u'nu-2711', u'nu-2986', u'nu-3245', u'nu-3535', u'nu-3907', u'nu-4022', u'nu-4139', u'nu-4253']}

In [47]:
NNDemo = False
max_demo = 5
template = 'original-sql-py'
program = 'sql-py'
def func(i):
    log = {}
    codex_prompter = CodexAnswerCOTExecutor_decisionAction(
                                      f'prompt_template/{template}-DA.json',
                                      dataset.iloc[i]['id'], 
                                      dataset.iloc[i]['utterance'], 
                                      dataset.iloc[i]['context'], 
                                      dataset.iloc[i]['targetValue'],  
                                      base_path='./dataset/WikiTableQuestions/',
                                      demo_file=f'few-shot-demo/WikiTQ-{program}.json',
                                     )
    codex_prompter.max_demo = max_demo
    codex_prompter._gen_gpt_prompt()
    # codex_prompter._gen_gpt_prompt(NNDemo)
    codex_prompter._get_gpt_prediction()
    log = codex_prompter._log_dict()
    return log, codex_prompter
log, codex_prompter = func(0)

In [49]:
# print(log['action_prompts'][1])
print(log['prompt'])
# print(log['decision_prompts'][1])
# print(codex_prompter.demo_prompts_by_decision['Python'])
# log

The database table DF is shown as follows:
[HEAD]: name|c_1989|c_1990|c_1991|c_1992|c_1993|c_1994|c_1995|c_1996|c_1997|c_1998|c_1999|c_2000|c_2001|c_2002|c_2003|c_2004|c_2005|c_2006|c_2007|c_2008|c_2009|c_2010|career_sr|career_win_loss
---
[ROW] 1: Australian Open|A|A|1R|A|2R|3R|2R|1R|A|3R|4R|1R|2R|1R|3R|2R|1R|QF|3R|2R|3R|1R|0 / 18|22–18
[ROW] 2: French Open|1R|2R|4R|1R|1R|3R|1R|A|1R|3R|1R|2R|4R|2R|2R|3R|1R|1R|1R|2R|1R|A|0 / 20|17–20
[ROW] 3: Wimbledon|A|1R|A|A|A|A|1R|A|1R|A|2R|2R|3R|2R|2R|2R|2R|2R|2R|1R|2R|A|0 / 14|11–14
...
[ROW] 17: Annual Win-Loss|nan|2–4|7–5|3–5|6–4|2–1|5–4|2–1|12–6|10–9|10–7|12–9|13–9|9–9|2–7|8–5|7–7|3–8|4–3|2–3|1–2|0–0|nan|120–108
[ROW] 18: Year End Ranking|235|62|43|43|55|46|102|118|29|41|34|31|22|35|62|52|58|52|37|52|68|–|nan|nan

Answer the following question based on the data above: "did he win more at the australian open or indian wells?". Execute SQL or Python code step-by-step and finally answer the question. Use SQL to process the query and use Python to reformat the data.

SQL: ```SELECT name, career_win_loss FROM DF WHERE name="Australian Open" or name="Indian Wells";```.

The database table DF is shown as follows:
[HEAD]: career_win_loss
---
[ROW] 1: Australian Open|22–18
[ROW] 2: Indian Wells|16-13

Answer the following question based on the data above: "did he win more at the australian open or indian wells?". Execute SQL or Python code step-by-step and finally answer the question. Use SQL to process the query and use Python to reformat the data.

Answer: ```Australian Open```.

The database table DF is shown as follows:
[HEAD]: by_race|white|black|aian*|asian|nhpi*
---
[ROW] 1: 2000 (total population)|75.43%|4.46%|19.06%|5.24%|0.88%
[ROW] 2: 2000 (Hispanic only)|3.42%|0.33%|0.45%|0.16%|0.06%
[ROW] 3: 2005 (total population)|74.71%|4.72%|18.77%|5.90%|0.88%
...
[ROW] 6: Growth 2000–05 (non-Hispanic only)|3.49%|11.30%|4.02%|18.96%|5.86%
[ROW] 7: Growth 2000–05 (Hispanic only)|33.56%|21.02%|14.52%|27.89%|-1.95%

Answer the following question based on the data above: "which hispanic population had the greatest growth from 2000 to 2005?". Execute SQL or Python code step-by-step and finally answer the question. Use SQL to process the query and use Python to reformat the data.

SQL: ```SELECT * FROM DF WHERE by_race LIKE "Growth 2000–05 (Hispanic only)%";```.

The database table DF is shown as follows:
[HEAD]: by_race|white|black|aian*|asian|nhpi*
---
[ROW] 1: Growth 2000–05 (Hispanic only)|33.56%|21.02%|14.52%|27.89%|-1.95%

Answer the following question based on the data above: "which hispanic population had the greatest growth from 2000 to 2005?". Execute SQL or Python code step-by-step and finally answer the question. Use SQL to process the query and use Python to reformat the data.

Answer: ```white```.

The database table DF is shown as follows:
[HEAD]: rank|mountain_peak|mountain_range|elevation|prominence|isolation|location
---
[ROW] 1: 1|Mount Whitney|Sierra Nevada|14,505 ft 4421 m|10,080 ft 3072 m|1,646 mi 2,649 km|36°34′43″N 118°17′31″W﻿ / ﻿36.5786°N 118.2920°W
[ROW] 2: 2|Mount Williamson|Sierra Nevada|14,379 ft 4383 m|1,677 ft 511 m|5.4 mi 8.7 km|36°39′21″N 118°18′40″W﻿ / ﻿36.6559°N 118.3111°W
[ROW] 3: 3|White Mountain Peak|White Mountains|14,252 ft 4344 m|7,196 ft 2193 m|67 mi 109 km|37°38′03″N 118°15′21″W﻿ / ﻿37.6341°N 118.2557°W
...
[ROW] 15: 15|Red Slate Mountain|Sierra Nevada|13,162 ft 4012 m|1,736 ft 529 m|8 mi 13 km|37°30′27″N 118°52′09″W﻿ / ﻿37.5075°N 118.8693°W
[ROW] 16: 16|Mount Ritter|Sierra Nevada|13,149 ft 4008 m|3,990 ft 1216 m|22 mi 35 km|37°41′21″N 119°11′59″W﻿ / ﻿37.6891°N 119.1996°W

Answer the following question based on the data above: "which mountain peak has a prominence more than 10,000 ft?". Execute SQL or Python code step-by-step and finally answer the question. Use SQL to process the query and use Python to reformat the data.

SQL: ```SELECT mountain_peak, prominence FROM DF;```.

The database table DF is shown as follows:
[HEAD]: mountain_peak|prominence
---
[ROW] 1: Mount Whitney|10,080 ft 3072 m
[ROW] 2: Mount Williamson|1,677 ft 511 m
[ROW] 3: White Mountain Peak|7,196 ft 2193 m
...
[ROW] 15: Red Slate Mountain|1,736 ft 529 m
[ROW] 16: Mount Ritter|3,990 ft 1216 m

Answer the following question based on the data above: "which mountain peak has a prominence more than 10,000 ft?". Execute SQL or Python code step-by-step and finally answer the question. Use SQL to process the query and use Python to reformat the data.

Python: ```
def get_ft(s):
    import re
    return float(re.search("(.*?) ft", s).group(1))
DF['prominence_ft'] = DF.apply(lambda x: get_ft(x['prominence']), axis=1)
```.

The database table DF is shown as follows:
[HEAD]: mountain_peak|prominence|prominence_ft
---
[ROW] 1: Mount Whitney|10,080 ft 3072 m|10080.0
[ROW] 2: Mount Williamson|1,677 ft 511 m|1677.0
[ROW] 3: White Mountain Peak|7,196 ft 2193 m|7196.0
...
[ROW] 15: Red Slate Mountain|1,736 ft 529 m|1736.0
[ROW] 16: Mount Ritter|3,990 ft 1216 m|3990.0

Answer the following question based on the data above: "which mountain peak has a prominence more than 10,000 ft?". Execute SQL or Python code step-by-step and finally answer the question. Use SQL to process the query and use Python to reformat the data.

SQL: ```SELECT mountain_peak FROM DF WHERE prominence_ft>10000;```.

The database table DF is shown as follows:
[HEAD]: mountain_peak
---
[ROW] 1: Mount Whitney

Answer the following question based on the data above: "which mountain peak has a prominence more than 10,000 ft?". Execute SQL or Python code step-by-step and finally answer the question. Use SQL to process the query and use Python to reformat the data.

Answer: ```Mount Whitney```.

The database table DF is shown as follows:
[HEAD]: season|division|tms|pos|fa_cup|afc_cl
---
[ROW] 1: 2003|1|12|11|Quarter final|-
[ROW] 2: 2004|1|13|10|Round of 32|-
[ROW] 3: 2005|1|13|8|Quarter final|-
...
[ROW] 9: 2011|1|16|12|Round of 32|-
[ROW] 10: 2012|1|16|10|Round of 16|-

Answer the following question based on the data above: "how far did they make it in the fa cup after 2009?". Execute SQL or Python code step-by-step and finally answer the question. Use SQL to process the query and use Python to reformat the data.

SQL: ```SELECT fa_cup FROM DF WHERE season>2009;```.

The database table DF is shown as follows:
[HEAD]: fa_cup
---
[ROW] 1: Round of 32
[ROW] 2: Round of 32
[ROW] 3: Round of 16

Answer the following question based on the data above: "how far did they make it in the fa cup after 2009?". Execute SQL or Python code step-by-step and finally answer the question. Use SQL to process the query and use Python to reformat the data.

Answer: ```Round of 16```.

The database table DF is shown as follows:
[HEAD]: unnamed_0|c_2000|c_2001|c_2002|c_2003|c_2004|c_2005|c_2006|c_2007|c_2008|c_2009|c_2010|c_2011|c_2012
---
[ROW] 1: Hydro power|1,150|1,161|1,171|1,247|1,281|1,293|1,316|1,326|1,357|1,379|1,382|1,401|1,584
[ROW] 2: Thermal|685|835|1,056|1,233|1,215|1,155|1,155|1,155|1,285|1,290|1,390|1,690|1,638
[ROW] 3: Other renewables|3|3|3|3|3|3|3|3|3|15|45|50|90
...
[ROW] 7: Other renewables|3|3|4|3|3|5|4|4|8|27|86|121|169
[ROW] 8: Total production|6,685|6,520|6,167|7,611|8,043|8,770|9,389|9,815|9,901|9,883|10,715|11,528|11,800

Answer the following question based on the data above: "did the hydro power increase or decrease from 2010 to 2012?". Execute SQL or Python code step-by-step and finally answer the question. Use SQL to process the query and use Python to reformat the data.

SQL: ```SELECT c_2010, c_2012 FROM DF WHERE unnamed_0="Hydro power";```.

The database table DF is shown as follows:
[HEAD]: c_2010|c_2012
---
[ROW] 1: 1,382|1,584

Answer the following question based on the data above: "did the hydro power increase or decrease from 2010 to 2012?". Execute SQL or Python code step-by-step and finally answer the question. Use SQL to process the query and use Python to reformat the data.

Answer: ```increase```.

The database table DF is shown as follows:
[HEAD]: rank|cyclist|team|time|uci_protour_points
---
[ROW] 1: 1|Alejandro Valverde (ESP)|Caisse d'Epargne|5h 29' 10\",40"|NULL
[ROW] 2: 2|Alexandr Kolobnev (RUS)|Team CSC Saxo Bank|s.t.|30.0
[ROW] 3: 3|Davide Rebellin (ITA)|Gerolsteiner|s.t.|25.0
[ROW] 4: 4|Paolo Bettini (ITA)|Quick Step|s.t.|20.0
[ROW] 5: 5|Franco Pellizotti (ITA)|Liquigas|s.t.|15.0
[ROW] 6: 6|Denis Menchov (RUS)|Rabobank|s.t.|11.0
[ROW] 7: 7|Samuel Sánchez (ESP)|Euskaltel-Euskadi|s.t.|7.0
[ROW] 8: 8|Stéphane Goubert (FRA)|Ag2r-La Mondiale|+ 2\",5"|NULL
[ROW] 9: 9|Haimar Zubeldia (ESP)|Euskaltel-Euskadi|+ 2\",3"|NULL
[ROW] 10: 10|David Moncoutié (FRA)|Cofidis|+ 2\",1"|NULL

Answer the following question based on the data above: "which country had the most cyclists finish within the top 10?". Execute SQL or Python code step-by-step and finally answer the question. Use SQL to process the query and use Python to reformat the data.

SQL: ```SELECT cyclist FROM DF WHERE rank<=10;```.

The database table DF is shown as follows:
[HEAD]: cyclist
---
[ROW] 1: Alejandro Valverde (ESP)
[ROW] 2: Alexandr Kolobnev (RUS)
[ROW] 3: Davide Rebellin (ITA)
[ROW] 4: Paolo Bettini (ITA)
[ROW] 5: Franco Pellizotti (ITA)
[ROW] 6: Denis Menchov (RUS)
[ROW] 7: Samuel Sánchez (ESP)
[ROW] 8: Stéphane Goubert (FRA)
[ROW] 9: Haimar Zubeldia (ESP)
[ROW] 10: David Moncoutié (FRA)

Answer the following question based on the data above: "which country had the most cyclists finish within the top 10?". Execute SQL or Python code step-by-step and finally answer the question. Use SQL to process the query and use Python to reformat the data.

Python: ```
def get_country(s):
    import re
    return re.search("\((.*?)\)", s).group(1)
DF['country'] = DF.apply(lambda x: get_country(x['cyclist']), axis=1)
```.

The database table DF is shown as follows:
[HEAD]: cyclist|country
---
[ROW] 1: Alejandro Valverde (ESP)|ESP
[ROW] 2: Alexandr Kolobnev (RUS)|RUS
[ROW] 3: Davide Rebellin (ITA)|ITA
[ROW] 4: Paolo Bettini (ITA)|ITA
[ROW] 5: Franco Pellizotti (ITA)|ITA
[ROW] 6: Denis Menchov (RUS)|RUS
[ROW] 7: Samuel Sánchez (ESP)|ESP
[ROW] 8: Stéphane Goubert (FRA)|FRA
[ROW] 9: Haimar Zubeldia (ESP)|ESP
[ROW] 10: David Moncoutié (FRA)|FRA

Answer the following question based on the data above: "which country had the most cyclists finish within the top 10?". Execute SQL or Python code step-by-step and finally answer the question. Use SQL to process the query and use Python to reformat the data.

SQL: ```SELECT country, COUNT(*) AS count FROM DF GROUP BY country ORDER BY count DESC LIMIT 1;```.

The database table DF is shown as follows:
[HEAD]: country|count
---
[ROW] 1: ITA|3

Answer the following question based on the data above: "which country had the most cyclists finish within the top 10?". Execute SQL or Python code step-by-step and finally answer the question. Use SQL to process the query and use Python to reformat the data.

Answer: ```Italy```.